<form action="" method="post">
  <input id="POST-name" placeholder="Username" type="text" name="username">
  <br>
  <input id="POST-pass" placeholder="Password" type="text" name="password">
  <br>
  <input type="submit" value="Login">
</form>