<form action="" method="post">
  <input id="POST-name" placeholder="Username" value="{{username}}" type="text" name="username">
  <br>
  <input id="POST-pass" placeholder="Password" type="text" name="password">
  <br>
  <input id="POST-name" placeholder="Firstname" type="text" value="{{firstname}}" name="firstname">
  <br>
  <input id="POST-pass" placeholder="Lastname" type="text" value="{{lastname}}" name="lastname">
  <br>
  <input type="submit" value="Register">
</form>