<h1>Hello, {{name}}</h1>

<p>
    Balance: ${{balance}}<br>
    Username: {{username}} (Used for money transfer)
</p>

<form action="/user/add-balance" method="post">
  <input id="POST-name" placeholder="Amount" type="text" name="amount">
  <br>
  <input type="submit" value="Add balance">
</form>

<br>

<form action="/user/transfer" method="post">
  <input id="POST-name" placeholder="Tranfer to" type="text" name="to">
  <br>
  <input id="POST-name" placeholder="Amount" type="text" name="amount">
  <br>
  <input type="submit" value="Transfer money">
</form>

<br>

<form action="/user/logout" method="post">
  <input type="submit" value="Logout">
</form>